SPRING_PROFILES_ACTIVE=prod

ADMIN_WHITELIST_EMAILS=admin@test.com,hwang67120@test.com

DB_USERNAME=root
DB_PASSWORD=1234
DB_URL=jdbc:mysql://mysql:3306/test?serverTimezone=Asia/Seoul&characterEncoding=UTF-8

JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_SECRET=your-local-jwt-secret

PORTONE_API_SECRET=your-portone-api-secret
PORTONE_CHANNEL_KEY=your-portone-channel-key
PORTONE_STORE_ID=your-portone-store-id
PORTONE_WEBHOOK_SECRET=your-portone-webhook-secret

REDIS_HOST=redis
REDISSON_ADDRESS=redis://redis:6379
